aws_region = "eu-west-2"

resource_name_prefix       = "tango-music-game"
deployer_user_name         = "tango-music-game-deployer"
github_repository          = "tango4giorgio/que-tanda-es-infra"
github_environment         = "production"
terraform_state_bucket_name = "replace-with-a-globally-unique-bucket-name"
terraform_lock_table_name   = "tango-music-game-terraform-locks"
