aws_region = "eu-west-2"

supabase_organization_id = "your-organisation-slug"
supabase_project_name    = "tango-music-game"
supabase_region          = "eu-west-2"
supabase_instance_size   = "micro"

# Supply sensitive values through environment variables instead:
# export TF_VAR_supabase_access_token='...'
# export TF_VAR_supabase_database_password='...'
